.navbar-right .cart-icon,
.navbar-right {
    color: white;
    text-decoration: none;
    margin-left: 1.6rem;
    position: relative;
}

.navbar-right .cart-count {
    background-color: red;
    color: white;
    border-radius: 20%;
    padding: 0.1rem 0.7rem;
    font-size: 0.9rem;
    position: absolute;
    top: -1.35rem;
    right: -.15rem;
}

.a {
    color: white;
}